:root {
    --color1: #ffe8b6;
    --color2: #ebdb72;
    --color3: #662b21;
    --color4: #d95e62;
    --color5: #0e6da0;
    --color6: #879660;
    --font-family: times, serif; 
}

body {
    background-color: var(--color1);
    color: var(--color3);
    font-family: var(--font-family);
}

.ubicacion {
    color: var(--color5);
    font-size: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

span {
	font-size: 6px;
	line-height: 1;
}

h1, h2, h3 {
    text-align: center;
}  

/* Navegacion principal*/
.nav-bg { 
    padding: 1.5rem;
    text-align: center; 
}

.navegacion-principal a {
    padding: 1rem; 
    text-decoration: none;
    margin-inline: 4rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
    }

.navegacion-principal a:hover {
    cursor: pointer;
    color: var(--color4);
}

.link {
     cursor: pointer;
    color: var(--color4);
    font-size: 3rem;
}

/* Imagen pricipal de inicio */

.containerimagenfrente {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.containerimagenfrente img {
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover; /* Use 'contain' if you prefer the whole image visible */
}

/* Boton para mostrar mapa */

.boton {
    color: var(--color4);
    font-size: 3rem;
    text-decoration: none ;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.boton:visited {
    color: var(--color4);
}

.boton:hover {
    cursor: pointer;
}

.textoinicio {
    font-size: 2rem;
    text-align: center;
    margin-left: 6rem;
    margin-right: 6rem;
}
/* MENU */

.card-group {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajusta el espacio entre las tarjetas */
}

.card {
  width: calc(33.33% - 20px); /* Tres tarjetas por fila, con un pequeño margen */
  margin-bottom: 20px; /* Espacio entre filas */
  box-sizing: border-box; /* Incluye padding y border en el ancho */
  border: 1px solid var(--color2); /* Borde opcional para las tarjetas */
  border-radius: 5px; /* Borde redondeado opcional */
  overflow: hidden; /* Evita que el contenido sobresalga */
}

.card img {
  width:100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 30px;
}

.card-title {
  margin-bottom: 1px;
  font-size: 1.25rem;
  text-align: center;
}

.card-text {
  margin-bottom: 5px;
  font-size: 1rem;
}

.menu-option {
	padding: 10px 20px;
}

.fotos {
  display: flex; /*  Habilita el modelo de caja flexible */
  }

.fotococina, .fotocartel {
    width: 46%;
  padding-inline: 1rem; /*  Espacio entre las imágenes */
  padding-left: 1rem;
  padding-right: 1rem;

}

/* Como llegar */

.comollegar {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

/* Footer*/
.footer {

  font-size: 2rem;
  text-align: center;
}